<!DOCTYPE html>
<html>
<head>
	<title>Webscrapper version one ...</title>
</head>
<body background="https://regmedia.co.uk/2016/12/06/docker_logo.jpg?x=1200&y=794">
<h1 style="color:tomato;">My First Heading</h1>

<p style="color:white;">My first Paragragh</p>
<p style="color:white;">My sencind paragrah. Sceond line of my secoind paragrah.<br></p>

<a href="https://www.youtube.com/" style="color:darkorange">link</a>

<br>


<table style="width:100%">
	<tr style="font-weight : bold;background-color:tomato">
	 <td>First_name</td>
	 <td>Second_name</td>
	 <td>Last_name</td>
	</tr>
	<tr>
		<td>Raigon</td>
		<td>Kunnath</td>
		<td>Augustin</td>
	</tr>
</table>

<ol>
	<li>Raigon</li>
	<li>Kunnath</li>
	<li>Augustin</li>
</ol>

<a href="https://regmedia.co.uk/2016/12/06/docker_logo.jpg?x=1200&y=794" style="color:darkorange">link</a>
</body>
</html>
